/* ---------------------- INDEX ----------------------*/
.header-index .index-portada {
  height: 800px;
  display: flex;
  background-image: url("../img/portada.jpg");
  background-size: cover;
  background-position: center;
  margin: 0; }
  .header-index .index-portada .index-portada__logo {
    text-align: center;
    margin: 13rem auto 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    height: max-content; }
    .header-index .index-portada .index-portada__logo h2 {
      font-size: 3rem;
      margin-bottom: 0; }
    .header-index .index-portada .index-portada__logo p {
      margin-top: 0; }
    .header-index .index-portada .index-portada__logo h3 {
      line-height: 3rem; }
    .header-index .index-portada .index-portada__logo h4 {
      margin-bottom: 3rem; }

main .primera-seccion {
  margin: 0; }
  main .primera-seccion .primera-seccion__productos {
    padding: 5rem; }
    main .primera-seccion .primera-seccion__productos a {
      color: #F28627; }
      main .primera-seccion .primera-seccion__productos a :hover {
        color: black; }
  main .primera-seccion .primera-seccion__ventas {
    text-align: center;
    background-image: linear-gradient(to left, #f7f3eb, #f3ecde);
    background-size: cover;
    background-position: center; }
    main .primera-seccion .primera-seccion__ventas img {
      max-height: 500px;
      margin: 1rem; }
  main .primera-seccion .primera-seccion__lineas {
    text-align: center; }
    main .primera-seccion .primera-seccion__lineas a {
      color: #ce8e89; }
    main .primera-seccion .primera-seccion__lineas .div-imagenes {
      text-align: center;
      margin: 3rem auto;
      justify-content: space-around; }
      main .primera-seccion .primera-seccion__lineas .div-imagenes .div-imagenes__img {
        max-height: 280px;
        max-width: 280px;
        margin: 1rem 3rem; }

main .segunda-seccion {
  margin: 2rem 0;
  background-image: linear-gradient(to right, #FFFFFF, #ECE9E6);
  background-size: cover;
  background-position: center; }
  main .segunda-seccion .segunda-seccion__novedad {
    text-align: center;
    margin: 4rem auto 0 auto;
    line-height: 2rem; }
  main .segunda-seccion .segunda-seccion__img {
    width: max-content;
    margin-bottom: 2rem; }

main .tercera-seccion {
  margin: 3rem 1rem; }
  main .tercera-seccion .tercera-seccion__div img {
    margin: 1rem 3rem;
    max-height: 300px; }

/* ---MEDIA QUERIES ---*/
@media only screen and (min-width: 480px) {
  main .segunda-seccion .segunda-seccion__img {
    margin-left: 2rem; } }

@media only screen and (min-width: 600px) {
  main .segunda-seccion .segunda-seccion__img {
    max-width: 800px; }
  main .tercera-seccion {
    margin: 3rem 1rem; }
    main .tercera-seccion .tercera-seccion__div {
      display: flex; }
      main .tercera-seccion .tercera-seccion__div p {
        margin: auto; }
      main .tercera-seccion .tercera-seccion__div img {
        margin: 1rem 3rem;
        max-height: 300px; } }

/*mayor a 900px */
@media only screen and (min-width: 900px) {
  main .primera-seccion .primera-seccion__lineas .div-imagenes {
    display: flex; }
    main .primera-seccion .primera-seccion__lineas .div-imagenes .div-imagenes__img {
      max-height: 300px;
      max-width: 300px; }
  main .primera-seccion .primera-seccion__ventas {
    text-align: left; }
    main .primera-seccion .primera-seccion__ventas img {
      max-height: 600px;
      margin: 0; }
  main .segunda-seccion {
    margin: 2rem 0; }
    main .segunda-seccion .segunda-seccion__novedad {
      width: 570%; }
    main .segunda-seccion .segunda-seccion__img {
      float: right;
      max-width: 600px;
      margin: auto; }
  main .tercera-seccion .tercera-seccion__div img {
    max-height: 400px; } }

/* mayor a 1200*/
@media only screen and (min-width: 1200px) {
  main .primera-seccion .primera-seccion__lineas .div-imagenes .div-imagenes__img {
    max-height: 375px;
    max-width: 500px; }
  main .primera-seccion .primera-seccion__ventas img {
    max-height: 700px; }
  main .tercera-seccion .tercera-seccion__div img {
    max-height: 500px; } }

/* ------------------ Seccion Productos --------------------- */
section {
  margin: 7rem auto 0 3rem; }
  section .productos-container {
    display: flex;
    flex-flow: row wrap; }
    section .productos-container .producto-item {
      margin: 2rem;
      transition: all 0.4s; }
      section .productos-container .producto-item:hover {
        opacity: 0.7; }
      section .productos-container .producto-item .producto-item__descripcion {
        text-align: left;
        margin-left: 1rem; }

/* -------------------- Seccion Contacto ------------------- */
.body-contacto .body-contacto__main {
  padding: 2rem; }
  .body-contacto .body-contacto__main .form {
    margin: 1rem; }
    .body-contacto .body-contacto__main .form .form__element {
      width: 100%;
      border: 1px solid #797777;
      margin: 1rem;
      padding: 0.5rem; }
      .body-contacto .body-contacto__main .form .form__element:focus {
        outline: thin;
        border: 2px solid #C77345; }
    .body-contacto .body-contacto__main .form .form__button:hover {
      background-color: white;
      color: black;
      letter-spacing: 2px;
      border: none; }

/* ------------------ Seccion Lineas de fragancias ------------------- */
.lineas-fragancias {
  width: 80%; }
  .lineas-fragancias .lineas-fragancias__descripcion {
    margin: 1rem; }
  .lineas-fragancias .lineas-fragancias__lista .box {
    max-height: 250px;
    max-width: 250px;
    text-align: center;
    padding: 0.5rem;
    color: black;
    border-radius: 25px;
    margin: 1rem auto; }
    .lineas-fragancias .lineas-fragancias__lista .box:hover p {
      opacity: 1;
      transition: all 1s; }
    .lineas-fragancias .lineas-fragancias__lista .box h4 {
      font-size: 1.5rem; }
    .lineas-fragancias .lineas-fragancias__lista .box p {
      opacity: 0;
      transition: all 1s; }

.lineas-fragancias--classic .box h4 {
  color: #ffcc23; }

.lineas-fragancias--terra .box h4 {
  color: #1e492f; }

.lineas-fragancias--jabones .box h4 {
  color: #e09e99; }

/* media queries*/
@media only screen and (min-width: 480px) {
  .lineas-fragancias {
    margin: 3rem auto; }
    .lineas-fragancias .lineas-fragancias__lista {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; } }

/* -------------------- Seccion Preguntas -------------------- */
.body-preguntas .body-preguntas__preguntas {
  padding: 2rem; }

/* ----------------- body, Navbar, Footer------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  min-width: 350px; }
  body header .navbar {
    padding: auto;
    font-weight: 500;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    body header .navbar .navbar__collapse {
      flex-grow: 0; }
  body header .navbar-light .navbar-brand {
    color: #f7762c;
    font-size: 2rem;
    transition: all 0.3s; }
    body header .navbar-light .navbar-brand:hover {
      color: #f7762c; }
  body header .navbar-light .navbar-nav .nav-link {
    color: #080808;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s; }
    body header .navbar-light .navbar-nav .nav-link:hover {
      text-shadow: 1px 1px 2px grey;
      color: #080808; }
  body header .dropdown-item:hover {
    background-color: white;
    color: black; }
  body footer {
    background-image: linear-gradient(to right, #FFFFFF, #ECE9E6);
    opacity: 0.9;
    color: black;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem; }
    body footer .footer__icon {
      margin: 0 0.8rem 2rem 0;
      color: black;
      transition: all 0.3s;
      font-size: 2.2rem; }
      body footer .footer__icon:hover {
        transform: scale(1.5, 1.5); }

@media only screen and (min-width: 900px) {
  footer {
    display: grid;
    grid-template-areas: "logo redes direccion"; }
  .logo {
    grid-area: logo; }
  .redes {
    grid-area: redes; }
  .direccion {
    grid-area: direccion; } }

/* Generales y Helpers */
h1 {
  margin: 8rem auto 2rem auto; }

h3 {
  margin: 1rem;
  line-height: 1rem; }

.titulo {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 2rem;
  margin-left: 5rem; }

.subtitulo {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem; }

.cursiva {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  margin: 1rem;
  line-height: 2rem; }

.bold {
  font-weight: bold; }

.uppercase {
  text-transform: uppercase;
  margin: 2rem 1rem; }

ul {
  list-style: none;
  line-height: 2rem; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: black;
  text-shadow: 1px 1px 2px grey; }

main .primera-seccion .primera-seccion__ventas .button, .body-contacto .body-contacto__main .form .form__button {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  width: 15rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 2rem;
  transition: all 0.3s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  main .primera-seccion .primera-seccion__ventas .button:hover, .body-contacto .body-contacto__main .form .form__button:hover {
    background-color: white;
    color: black;
    border: 2px solid white; }

.body-contacto .body-contacto__main, .body-preguntas .body-preguntas__preguntas {
  width: 80%;
  margin: 2rem auto 4rem auto;
  background-color: white;
  border: 1px solid #d6763e;
  border-radius: 1%; }
