/* ----------------- body, Navbar, Footer------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    min-width: 350px;
    header {
        .navbar {
            padding: auto;
            font-weight: 500;
            background-color: white;
            box-shadow: $boxShadow;
            .navbar__collapse {
                flex-grow: 0;
            }
        }
        .navbar-light .navbar-brand{
            color: #f7762c;
            font-size: 2rem;
            transition: all 0.3s;
            &:hover {
                color: #f7762c;
            }
        }  
        .navbar-light .navbar-nav .nav-link {
            color: rgb(8, 8, 8);
            font-size: 1.5rem;
            text-transform: uppercase;
            transition: all 0.3s;
            &:hover {
                text-shadow: $textShadow;
                color: rgb(8, 8, 8);
            }
        }  
        .dropdown-item:hover {
            background-color: white;
            color: black
        }
    }
    footer {
        background-image: $fondoGradiente;
        opacity: 0.9;
        color: black;
        padding: 1rem;
        text-align: center;
        box-shadow: $boxShadow-arriba;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 3rem;
        .footer__icon {
            margin: 0 0.8rem 2rem 0;
            color: black;
            transition: all 0.3s;
            font-size: 2.2rem;
            &:hover{
                transform: scale(1.5, 1.5);
            }
        }
    }
}

@media only screen and (min-width: 900px)  {
    footer {
        display: grid;
        grid-template-areas: "logo redes direccion";
    }
    .logo {
        grid-area: logo;
    }
    .redes  {
        grid-area: redes;
    }
    .direccion  {
        grid-area: direccion;
    }
}