/* -------------------- Seccion Contacto ------------------- */

.body-contacto {
    .body-contacto__main {
        @extend %bodyContactoPreguntas;
        padding: 2rem;
        .form {
            margin:  1rem;
            .form__element {
                width: 100%;
                border: 1px solid rgb(121, 119, 119);
                margin: 1rem;
                padding: 0.5rem;
                &:focus {
                    outline: thin;
                    border: 2px solid #C77345;
                }
            }
            .form__button {
                @extend %button;
            }
        }
    }
}

