/* ---------------------- INDEX ----------------------*/
.header-index {
    .index-portada {
        height: 800px;
        display: flex;
        @include background($fondoPortada, cover, center);
        margin: 0;
        .index-portada__logo {
            text-align: center;
            margin: 13rem auto 0 auto;
            padding: 1rem;
            background-color: rgba($color: white, $alpha: 0.7);
            border-radius: 5px;
            height: max-content;
            h2 {
                font-size: 3rem;
                margin-bottom: 0;
            }
            p {
                margin-top: 0;
            }
            h3 {
                line-height: 3rem;
            }
            h4 {
                margin-bottom: 3rem
            }
        }
    }
} 
main {
    .primera-seccion{
        margin: 0;
        .primera-seccion__productos {   
            padding: 5rem;
            a {
                color: $colorNaranja;
                & :hover {
                    color: black;
                }
            }
        }
        .primera-seccion__ventas {
            text-align: center;
            @include background($fondoGradiente2, cover, center);
            img {
                max-height: 500px;
                margin: 1rem;
            }
            .button {
                @extend %button;
            }
        }
        .primera-seccion__lineas {
            text-align: center;
            a {
                color:#ce8e89;
            }
            .div-imagenes {
                text-align: center;
                margin: 3rem auto;
                justify-content: space-around;
                .div-imagenes__img {
                    @include sizes(280px, 280px);
                    margin: 1rem 3rem;
                }
            }
        }
    }
    .segunda-seccion {
        margin: 2rem 0; 
        @include background($fondoGradiente, cover, center);
        .segunda-seccion__novedad {
            text-align: center;
            margin: 4rem auto 0 auto;
            line-height: 2rem;
        }
        .segunda-seccion__img {
            width: max-content;
            margin-bottom: 2rem;
        }
    }
    .tercera-seccion {
        margin: 3rem 1rem;
        .tercera-seccion__div {
            img {
                margin: 1rem 3rem;
                max-height: 300px;
            }
        }
    }
}

    
/* ---MEDIA QUERIES ---*/
@media only screen and (min-width: 480px) {
    main {
        .segunda-seccion {
            .segunda-seccion__img {
                margin-left: 2rem;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    main {
        .segunda-seccion {
            .segunda-seccion__img {
                max-width: 800px;
            }
        }
        .tercera-seccion {
            margin: 3rem 1rem;
            .tercera-seccion__div {
                display: flex;
                p {
                    margin: auto;
    
                }
                img {
                    margin: 1rem 3rem;
                    max-height: 300px;
                }
            }
        }
    }
}

/*mayor a 900px */
@media only screen and (min-width: 900px) {
    main {
        .primera-seccion {
            .primera-seccion__lineas {
                .div-imagenes {
                    display: flex;
                    .div-imagenes__img {
                    @include sizes(300px, 300px);
                    }
                }
            }
            .primera-seccion__ventas {
                text-align: left;
                img {
                    max-height: 600px;
                    margin: 0;
                }
            }
        }
        .segunda-seccion {
            margin: 2rem 0;
            .segunda-seccion__novedad {
                width: 570%;
            }
            .segunda-seccion__img {
                float: right;
                max-width: 600px;
                margin: auto;
            }
        }
        .tercera-seccion {
            .tercera-seccion__div {    
                img {
                    max-height: 400px;
                }
            }
        }
    }
}

/* mayor a 1200*/
@media only screen and (min-width: 1200px) {
    main {
        .primera-seccion {
            .primera-seccion__lineas {
                .div-imagenes {
                    .div-imagenes__img {
                        @include sizes(500px, 375px);
                    }
                }
            }
            .primera-seccion__ventas {
                img {
                    max-height: 700px;
                }
            }
        }
        .tercera-seccion {
            .tercera-seccion__div {
                img {
                    max-height: 500px;
                }
            }
        }
    }
}