/* ---------------------- INDEX ----------------------*/
.header-index {
    .index-portada {
        height: 750px;
        @include background($fondoPortada, cover, center);
        .index-portada__logo {
            width: 90%;
            height: 100%;
            margin: 3rem auto 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 1rem;
            border-radius: 5px;
            h2 {
                font-size: 3rem;
            }
            p {
                margin-top: 0;
            }
            h3 {
                line-height: 3rem;
            }
            h4 {
                margin-bottom: 3rem
            }
        }
       .index-portada__button {
            @extend %button;
        }
    }
}
main {
    .primera-seccion{
        margin: 3rem auto;
        .div-imagenes {
            .div-imagenes__img {
                @include sizes(280px, 300px);
                min-height: 220px;
                margin: 1rem;
            }
        }
    }
    .segunda-seccion {
        margin: 2rem 0; 
        @include background($fondoGradiente, cover, center);
        .segunda-seccion__novedad {
            text-align: center;
            margin: 4rem auto 0 auto;
            line-height: 2rem;
        }
        .segunda-seccion__img {
            width: max-content;
            margin-bottom: 2rem;
        }
    }
    .tercera-seccion {
        margin: 3rem 1rem;
        .tercera-seccion__div {
            img {
                margin: 1rem 3rem;
                max-height: 300px;
            }
        }
    }
}

    
/* ---MEDIA QUERIES ---*/
@media only screen and (min-width: 480px) {
    .header-index {
        .index-portada {
            .index-portada__logo {
                width: 70%;
            } 
        }
    }
    .segunda-seccion {
        .segunda-seccion__img {
            margin-left: 2rem;
        }
    }
}

@media only screen and (min-width: 600px) {
    .header-index {
        .index-portada {
            .index-portada__logo {
                width: 55%;
            } 
        }
    }
    main {
        .segunda-seccion {
            .segunda-seccion__img {
                max-width: 800px;
            }
        }
        .tercera-seccion {
            margin: 3rem 1rem;
            .tercera-seccion__div {
                display: flex;
                p {
                    margin: auto;
    
                }
                img {
                    margin: 1rem 3rem;
                    max-height: 300px;
                }
            }
        }
    }
}

/*mayor a 900px */
@media only screen and (min-width: 900px) {
    .header-index {
        .index-portada {
            .index-portada__logo {
                width: 40%;
            } 
        }
    }
    main {
        .primera-seccion {
            .div-imagenes {
                .div-imagenes__img {
                    @include sizes(280px, 280px);
                }
            }
        }
        .segunda-seccion {
            margin: 2rem 0; 
            @include background($fondoGradiente, cover, center);
            .segunda-seccion__novedad {
                width: 570%;
            }
            .segunda-seccion__img {
                float: right;
                max-width: 600px;
                margin: auto;
            }
        }
        .tercera-seccion {
            .tercera-seccion__div {    
                img {
                    max-height: 400px;
                }
            }
        }
    }
}

/* mayor a 1200*/
@media only screen and (min-width: 1200px) {
    .header-index {
        .index-portada {
            .index-portada__logo {
                width: 35%;
            } 
        }
    }
    main {
        .primera-seccion {
            .div-imagenes {
                .div-imagenes__img {
                    @include sizes(300px, 300px);
                }
            }
        }
        .tercera-seccion {
            .tercera-seccion__div {
                img {
                    max-height: 500px;
                }
            }
        }
    }
}