/* ---------------------- INDEX ----------------------*/
.header-index {
    .index-portada {
        @include background($fondoPortada, cover, center);
        height: 800px;
        max-width:100%;
        display: flex;
        margin: 0;
        .index-portada__logo {
            text-align: center;
            margin: 13rem auto 0 auto;
            padding: 1rem;
            background-color: rgba($color: white, $alpha: 0.7);
            border-radius: 5px;
            height: max-content;
            h2 {
                font-size: 3rem;
                margin-bottom: 0;
            }
            p {
                margin-top: 0;
            }
            h3 {
                line-height: 3rem;
            }
            h4 {
                margin-bottom: 3rem
            }
        }
    }
} 
main {
    .seccion-productos{
        margin: 7rem auto;
        div {   
            a {
                color: $colorNaranja;
                & :hover {
                    color: black;
                }
            }
        }
    }
    .seccion-ventas {
        text-align: center;
        margin: 0;
        @include background($fondoGradiente2, cover, center);
        img {
            max-width: 300px;
        }
        .button {
            @extend %button;
            margin: 1rem auto !important;
        }
    }
    .seccion-lineas {
        text-align: center;
        a {
            color:#ce8e89;
        }
        .div-imagenes {
            text-align: center;
            margin: 3rem auto;
            justify-content: space-around;
            .div-imagenes__img {
                @include sizes(280px, 280px);
                margin: 1rem 3rem;
            }
        }
    }
    .seccion-promos {
        margin: 2rem 0; 
        @include background($fondoGradiente, cover, center);
        .seccion-promos__novedad {
            text-align: center;
            margin: 4rem auto 0 auto;
            line-height: 2rem;
        }
        .seccion-promos__img {
            width: max-content;
            margin-bottom: 2rem;
        }
    }
    .seccion-aboutUs {
        margin: 3rem 1rem;
        .seccion-aboutUs__div {
            img {
                margin: 1rem 3rem;
                max-height: 300px;
            }
        }
    }
}

    
/* ---MEDIA QUERIES ---*/
@media only screen and (min-width: 480px) {
    main {
        main {
            .seccion-promos {
                .seccion-promos__img {
                    margin-left: 2rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    main {
        .seccion-promos {
            .seccion-promos__img {
                max-width: 800px;
            }
        }
        .seccion-aboutUs {
            margin: 3rem 1rem;
            .seccion-aboutUs__div {
                display: flex;
                p {
                    margin: auto;
    
                }
                img {
                    margin: 1rem 3rem;
                    max-height: 300px;
                }
            }
        }
    }
}

/*mayor a 900px */
@media only screen and (min-width: 900px) {
    main {
        .seccion-lineas {
            .div-imagenes {
                display: flex;
                .div-imagenes__img {
                @include sizes(300px, 300px);
                }
            }
        }
        .seccion-ventas {
            text-align: left;
            img {
                max-width: 400px;
                margin: 0;
            }
            .button {
                margin: 2rem !important;
            }
        }
        .seccion-promos {
            margin: 2rem 0;
            .seccion-promos__novedad {
                width: 570%;
            }
            .seccion-promos__img {
                float: right;
                max-width: 600px;
                margin: auto;
            }
        }
        .seccion-aboutUs {
            .seccion-aboutUs__div {    
                img {
                    max-height: 400px;
                }
            }
        }
    }
}

/* mayor a 1200*/
@media only screen and (min-width: 1200px) {
    main {
        .seccion-lineas {
            .div-imagenes {
                .div-imagenes__img {
                    @include sizes(500px, 375px);
                }
            }
        }
        .seccion-ventas {
            img {
                max-width: 550px;
            }
        }
        .seccion-aboutUs {
            .seccion-aboutUs__div {
                img {
                    max-height: 500px;
                }
            }
        }
    }
}