/* ------------------ Seccion Lineas de fragancias ------------------- */
.lineas-fragancias {
    width: 80%;
    background-color:#fad6a5;
    .lineas-fragancias__descripcion {
        margin: 1rem;
    }
    .lineas-fragancias__lista {
        .box {    
            @include sizes(250px, 250px);
            text-align: center;
            padding: 0.5rem;
            color: black;
            border-radius: 25px;
            margin: 1rem auto;
            &:hover {
                background-color: white;
                border: 2px solid black;
                & p {
                    opacity: 1;
                    transition: all 1s;
                }
                 h4 {
                    opacity: 0;
                    transition: all 1s;
                }  
            }
            h4 {
                font-size: 1.5rem;
                color: white;
                text-shadow: $textShadow;
                transition: all 1s;
                opacity: 1;
            }
            p {
                opacity: 0;
                transition: all 1s;
                font-size: 1.5rem;
            }
        }
    }
}

$colors: (
    classic: rgb(250, 214, 165),
    terra:  rgb(193, 154, 107),
    jabones: rgb(241, 165, 89)
);

$backgroudcolors: (
    classic: rgba(250, 214, 165, 0.4),
    terra:  rgba(193, 154, 107, 0.4),
    jabones: rgba(241, 165, 89, 0.4)
);

@each $name, $bgcolor in $colors {
    .lineas-fragancias--#{$name} .box {
        background-color: $bgcolor;
        opacity: 0,9;
    }
}
@each $name, $bgcolor in $backgroudcolors {
    .lineas-fragancias--#{$name} {
        background-color: $bgcolor;
    }
}


/* media queries*/
@media only screen and (min-width: 480px) {  
    .lineas-fragancias {
        margin: 3rem auto;
        .lineas-fragancias__lista {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}