/* ------------------ Seccion Lineas de fragancias ------------------- */
.lineas-fragancias {
    width: 80%;
    .lineas-fragancias__descripcion {
        margin: 1rem;
    }
    .lineas-fragancias__lista {
        .box {    
            @include sizes(250px, 250px);
            text-align: center;
            padding: 0.5rem;
            color: black;
            border-radius: 25px;
            margin: 1rem auto;
            &:hover {
                p {
                    opacity: 1;
                    transition: all 1s;
                }
            }
            h4 {
                font-size: 1.5rem;
            }
            p {
                opacity: 0;
                transition: all 1s;
            }
        }
    }
}

$colors: (
    classic: #ffcc23,
    terra:  #1e492f,
    jabones: #e09e99
);

@each $name, $bgcolor in $colors {
    .lineas-fragancias--#{$name} .box h4{
        color: $bgcolor;
    }
}

/* media queries*/
@media only screen and (min-width: 480px) {  
    .lineas-fragancias {
        margin: 3rem auto;
        .lineas-fragancias__lista {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}