/* ------------------ Seccion Productos --------------------- */
.productos-container {
    display: flex;
    flex-flow: row wrap;
    .productos-container__producto {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
        width: 200px;
        text-align: center;
        .productos-container__producto__img {
            width: 200px;
            transition: all 0.4s;
            box-shadow: $boxShadow;
            &:hover {
                transform: translate(5px, 5px);
           }
        }
    }
}
