/* ------------------ Seccion Productos --------------------- */
.productos {
    margin: 7rem auto 0 3rem;
    .productos-container {
        display: flex;
        flex-flow: row wrap;
        .producto-item {
            margin: 2rem;
            transition: all 0.4s;
            &:hover {
                opacity: 0.7;
            }
            .producto-item__descripcion {
                text-align: left;
                margin-left: 1rem;  
            }
        }
    }
}

