//variables y funciones generales

$cursiva: 'Caveat', cursive;

$textShadow: 1px 1px 2px grey;
$textShadow2: 1px 1px 2px #f7762c;
$textShadow3: 1px 1px 2px black;

$boxShadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

$boxShadow-arriba: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);

$fondoPortada: url("../img/portada.jpg");

$fondoGradiente: linear-gradient(to right, #FFFFFF, #ECE9E6);

$colorGris: #ECE9E6;

$colorNaranja: #F28627;

@mixin sizes($width, $height) {
    max-height: $height;
    max-width: $width;
}

@mixin background($bg-img, $bg-size, $bg-position) {
    background-image: $bg-img;
    background-size: $bg-size;
    background-position: $bg-position;
}