//variables y funciones generales

$cursiva: 'Caveat', cursive;

$textShadow: 1px 1px 2px grey;

$boxShadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

$boxShadow-arriba: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);

$fondoPortada: url("../img/portada.jpg");

$fondoGradiente: linear-gradient(to right, #FFFFFF, #ECE9E6);

$fondoGradiente2: linear-gradient(to left, #f7f3eb, #f3ecde);

$colorNaranja: #f7762c;

$colorClaro: #f7f3eb; 

$colorRosa: #ce8e89;

@mixin sizes($width, $height) {
    max-height: $height;
    max-width: $width;
}

@mixin background($bg-img, $bg-size, $bg-position) {
    background-image: $bg-img;
    background-size: $bg-size;
    background-position: $bg-position;
}

@mixin links ($color, $colorHover) {
    color: $color;
    &:hover {
        color: $colorHover;
    }
}